// Colors 
$body-bg: #FFEFDC;
$primary: #DE9300;
$secondary: white;
$border-style: none;
$input-bg: white;
$input-border-color: white;
$font-family-base: Montserrat;
$headings-font-family: Oswald;
$display-font-weight: 600;




@import "../node_modules/bootstrap/scss/bootstrap";